<div class="users-index-template">
  <div class="standard-container">
    <h2 class="container-title">Manage Users</h2>

    <div class="table-wrapper">
      {{#light-table table as |t|}}
        {{t.head}}
        {{t.body canSelect=false}}
      {{/light-table}}
    </div>

    <div class="paging-area">
      <div class="loading-spinner-wrapper">
        {{loading-spinner visible=isLoading}}
      </div>

      {{paging-control targetRoute="users"
                       pageNumber=pageNumber
                       pageSize=pageSize
                       totalCount=totalCount}}
    </div>
  </div>
</div>
