<div class="users-index-template">
  <div class="standard-container">
    <h2 class="container-title">Manage Users</h2>

    {{#light-table table as |t|}}
      {{t.head}}
      {{t.body canSelect=false}}
    {{/light-table}}


  </div>
</div>
