.change-password-template {
  p.section-header {
    margin-bottom: 24px;
  }

  input.form-control {
    display: block;
    margin-bottom: 24px;

    &.new-password-input {
      margin-bottom: 6px;
    }
  }

  hr.styled-separator {
    margin: 32px 0;
  }

  .password-strength-requirement-component {
    margin-bottom: 24px;
  }
}
