@import '../base/colors';

body.application.login {
  background: $dark-blue-grey;
}

.login-template {
  .auth-container {
    position: relative;
    padding-bottom: 48px;

    .back-icon {
      display: block;
      left: 24px;
      position: absolute;
      top: 24px;
    }

    .logo-image {
      display: block;
      height: auto;
      margin: 0 12px 24px;
      max-width: calc(100% - 24px);
    }

    form {
      padding: 0 40px;
    }

    .login-button {
      display: block;
      margin: 24px auto 0;
    }

    .login-error {
      margin-top: 24px;
    }
  }
}
