$error-red: #ff6474;
$error-red-hover: #FF0921;
$text-grey: #666666;
$text-grey-hover: #525252;
$cta-primary: #ffac27;
$cta-primary-hover: #FF9842;
$logo-primary: #f7731c;
$logo-primary-hover: #CA5305;
$lightOutline-grey: #e2e2e2;
$dark-blue-grey: #233746;
$off-white: #f3f3f4;
$cancel-link: #fd7d7e;
$cancel-link-hover: #cc494a;
$green: #3dbf87;
$green-hover: #079357;
$control-border: #ccc;
$control-border-hover: #aaa;
$control-placeholder-label: #999;
$control-placeholder-label-hover: #777;
$separator-colour: #e2e2e2;
$separator-colour-hover: #d2d2d2;
