$error-red: #ff6474;
$error-red-hover: #FF0921;
$text-grey: #666666;
$favourite-selected: #ffaa1f;
$multi-select-option-bubble: #979797;
$background-light: #f3f3f4;
$cta-primary: #ffac27;
$cta-primary-stream: #ff7a59;
$cta-primary-stream-responded: #ff9842;
$cta-primary-hover: #FF9842;
$cta-orange-hover: rgba(255, 174, 46, 0.3);
$light-orange: rgba(255, 174, 46, 0.3);
$light-orange-hover: rgba(255, 174, 46, 0.45);
$light-orange-opaque: #fff1da;
$logo-primary: #f7731c;
$icon-grey: #8c8c8c;
$outline-grey: #c0c0c0;
$lightOutline-grey: #e2e2e2;
$dark-blue-grey: #233746;
$pale-peach: #fee0ae;
$success-rate: #02ca14;
$off-white: #f3f3f4;
$cancel-link: #fd7d7e;
$cancel-link-hover: #cc494a;
$sub-form-bg: #f8f8f8;
$green: #3dbf87;
$green-hover: #079357;
$text-grey-hover: #525252;
$border-light: #eeeeee;
$control-border: #ccc;
$control-border-hover: #aaa;
$control-placeholder-label: #999;
$control-placeholder-label-hover: #777;
$primary-label-color: #3dbf87;
$secondary-label-color: #f2f2f2;
$wizard-dot-border: #455561;
$subtle-grey-background: #fafafa;
$separator-colour: #e2e2e2;
$separator-colour-hover: #d2d2d2;
$separator-colour-light: #f0f0f0;
