.rounded-container {
  background: #fff;
  border-radius: 10px;

  &.auth-container {
    box-sizing: border-box;
    margin: 32px auto;
    width: 500px;

    @media only screen and (max-width: 768px) {
      margin: 16px;
      width: calc(100% - 32px);

      .logo-image {
        width: calc(100% - 24px);
      }
    }
  }
}

.standard-container {
  background: #fff;
  margin: 24px;
  padding: 36px;
}

.save-controls {
  display: flex;
  justify-content: flex-end;
}
