@import 'colors';

  .input-error {
    color: $error-red;
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin: 0 0 4px;
  }

.error-message-text {
  color: $error-red;
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin-top: 12px;

  i {
    margin-right: 8px;
  }
}
