* {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

p.section-header {
  color: $control-placeholder-label;
  font-weight: bold;
  text-transform: uppercase;
}

.container-title {
  color: #233746;
  margin-top: 0;
}

.text-primary {
  color: $logo-primary;
}
