<div class="authorization-choice-component">
  <img src="/assets/images/logo light coloured 500x242.png"
       height="180"
       alt="Tenacity logo"
       class="logo-image">

  <div class="choice-buttons">
    <button {{action "signupClick"}}
            class="styled-button"
            data-type="secondary">
      Sign up
    </button>

    <button {{action "loginClick"}}
            class="styled-button">
      Login
    </button>
  </div>
</div>
