<div class="navigation-menu-component">
  <img src="assets/images/navigation menu logo.png"
       class="nav-logo"
       alt="Tenacity logo"
       height="80">

  <nav class="navigation-menu">
    <ul>
      <li>
        <div>{{#link-to "dashboard"}}<i class="fas fa-tachometer-alt"></i>Dashboard{{/link-to}}</div>
      </li>
      <li>
        <div>{{#link-to "dashboard"}}<i class="fas fa-user-circle"></i>Profile{{/link-to}}</div>
      </li>
    </ul>
  </nav>

  <a href="#" {{action "logout"}}>Logout</a>
</div>
