<div class="index-template">
  <div class="rounded-container auth-container">
      <img src="/assets/images/logo light coloured 500x242.png"
           height="180"
           alt="Tenacity logo"
           class="logo-image">

      <div class="choice-buttons">
        <a href='/signup' class="styled-button" data-type="secondary">
          Sign up
        </a>

        <a href="/login" class="styled-button">
          Login
        </a>
      </div>
  </div>
</div>
