<div class="login-template">
  <div class="rounded-container auth-container">
    {{#link-to "index" class="back-icon icon-button no-border no-outline"}}
      <i class="fas fa-arrow-left"></i>
    {{/link-to}}

    <img src="/assets/images/logo light coloured 500x242.png"
         alt="Tenacity logo"
         class="logo-image">

    <h4 class="text-center">Enter your login details</h4>

    <form {{action "authenticate" on="submit"}}>
      <div class="input-spacer-tight ">
        {{input value=email
                placeholder="Email address"
                class="form-control email-input"
                autocomplete="off"
                required="true"
                maxlength="150"
                disabled=isLoggingIn}}
      </div>

      <div class="input-spacer-tight ">
        {{input value=password
                type="password"
                placeholder="Password"
                class="form-control password-input"
                autocomplete="off"
                required="true"
                maxlength="200"
                disabled=isLoggingIn}}
      </div>

      <button class="login-button styled-button"
              type="submit"
              disabled={{isLoggingIn}}>
        Login
      </button>
    </form>
  </div>
</div>
