@import 'colors';

html {
  margin: 0;
  padding: 0;
}

body {
  background: $off-white;
  color: $text-grey;
  margin: 0;
  padding: 0;

  &.waiting {
    cursor: wait !important;
  }
}

.main-with-nav {
  padding-top: 80px;
}
