<div class="password-strength-requirement-component"
     title="Password must be at least 8 characters &amp; include 1 lowercase, 1 digit, & 1 special character">
  <i class="fas fa-info-circle"></i>&nbsp;
  Must be at least 8 characters &amp; include 1 lowercase, 1 digit, & 1 special character
</div>
