.users-index-template {
  .table-wrapper {
    @media (max-width: 768px) {
      overflow-y: auto;

      .ember-light-table {
        min-width: 700px;
      }
    }

    .ember-light-table {
      margin-top: 36px;

      td.lt-cell {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 16px;
      }
    }
  }

  .paging-area {
    display: flex;
    margin-top: 36px;

    .loading-spinner-wrapper {
      flex: 1;
      margin-top: -10px;
      margin-right: 24px;
      text-align: right;
    }
  }
}
