@import '../base/colors';

body.application.index {
  background: $dark-blue-grey;
}

.index-template {
  .auth-container {
    padding-bottom: 32px;

    .logo-image {
      display: block;
      margin: 0 auto 24px;
    }

    .choice-buttons {
      a {
        display: block;
        margin: 12px auto;
      }
    }
  }
}
