@import '../base/colors';

body.application.index {
  background: $dark-blue-grey;
}

.index-container {
  .rounded-container {
    box-sizing: border-box;
    margin: 32px auto;
    width: 500px;
  }

  .logo-image {
    display: block;
    margin: 0 auto 24px;
  }
}
