@import '../base/colors';

body.application.login {
  background: $dark-blue-grey;
}

.login-template {
  .auth-container {
    position: relative;
    padding-bottom: 48px;

    .back-icon {
      display: block;
      left: 24px;
      position: absolute;
      top: 24px;
    }

    .logo-image {
      display: block;
      margin: 0 auto 24px;
    }

    .login-inputs {
      margin: 0 40px 24px;
    }

    .login-button {
      display: block;
      margin: 12px auto 0;
    }

    .login-error {
      margin-top: 24px;
    }
  }
}
