.profile-template {
  p.section-header {
    margin-bottom: 24px;
  }

  input.form-control {
    display: block;
  }

  hr.styled-separator {
    margin: 32px 0;
  }

  .spinner-wrapper {
    display: block;
    margin: -10px 30px 0 0;
  }
}
