<div class="unauthorized-template">
  <div class="unauthorized-code">401</div>

  <div class="unauthorized-message">You are not authorized to view this page</div>

  <div>
    {{link-to "Go Home" "index" class="styled-button"}}
  </div>
</div>
